        body {
            background-color: #0a0a0a;
            color: #00ff99;
            text-shadow: 0 0 5px rgba(0, 255, 153, 0.7);
            font-family: 'Press Start 2P', cursive;
            margin: 0;
            padding: 450px;
            padding-top: 20px;
            padding-bottom: 20px;

            line-height: 1.5;
        }
        header {
            text-align: center;
            margin-bottom: 20px;
        }
        h1 {
            font-size: 2.5em;
            margin: 0;
        }
        .post {
            border: 1px solid #00ff99;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 30px;
            background-color: #222;
            text-shadow: none;
            word-wrap: break-word; /* Ensures long words wrap to the next line */
            max-height: 700px; /* Set a max height for the post */
            overflow-y: auto; /* Adds a vertical scrollbar if text overflows */
            box-shadow: none
        }
        
        .post:hover {
    background-color: #111111; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 0 5px #00ff99, 0 0 5px #00ff99;
}

        .post h2 {
            font-size: 2em;
            margin-top: 0;
        }
        .post p {
            margin: 10px 0;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 0.9em;
        }

        .post:hover {
            transform: translateY(-5px); 
        }
        
        
        .post p {
            color: #ccc;
        }
        
        .fixed-link {
            position: fixed; 
            text-decoration: none;
            font-size: 15px; 
            color: #00ff99; 
        }
        

        .fixed-link.blog {
            top: 10px; 
            left: 10px; 
        }
        
        .fixed-link.home {
            bottom: 10px; 
            left: 10px;
        }